:root {
  font-family: Inter, Jura, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
html {
  font-size: 62.5%;
  font-family: "Jura", sans-serif;
}
body {
  width: 90rem;
  margin: auto;
  color: #1c2321;
  /* margin-bottom: 10rem; */
}
header {
  margin: 10rem 3rem;
  /* margin-top: 4rem; */
  max-height: 100%;
  transition: transform 1s, opacity 1s;
}
section {
  margin-bottom: 10rem;
  /* margin-top: 10rem; */
  margin-left: 3rem;
  margin-right: 3rem;
  transition: transform 1s, opacity 1s;
}

.section_hidden {
  opacity: 0;
  transform: translateY(8rem);
}
h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
p {
  font-size: 1.6rem;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid #cccccc;
  padding: 10rem 0;
}
.hero-img {
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
  justify-self: center;
  align-self: center;
}
.hero-text {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.hero-name {
  font-size: 4.6rem;
  font-weight: 500;
  margin: 0;
}

.tech-text-div {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 7rem;
}

.projects {
  display: flex;
  flex-direction: column;
}
.projects_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
  padding: 0;
}
.project_container {
  display: flex;

  width: 100%;
  gap: 5rem;
}
.project_img {
  width: 30rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem;
  transition: all 0.3s;
}
.project_img:hover {
  box-shadow: 0rem 0rem 1rem 0.1rem #c9c9c9;
}
.project_description {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}
.project_description p {
  padding: 0;
  margin: 0;
}
.github_link {
  max-width: fit-content;
}
.github_icon {
  width: 3.2rem;
  height: 3.2rem;
}
svg {
  width: 3.2rem;
  height: 3.2rem;
}
.open_weather_link {
  font-weight: 600;
  text-decoration: none;
  color: #1c2321;
}
.contacts_list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.contacts_list_item a {
  text-decoration: none;
  color: #1c2321;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contacts_icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #1c2321;
  fill: #24292f;
  stroke: 1px solid #24292f;
}
